.material-grid {
    width: 360px;
    height: 360px;
    font-family: "Roboto", Arial;
}

.material-grid section {
    width: 50%;
    height: 50%;
    float: left;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}

@keyframes materialResponse {
    0% {
        width: 0;
        height: 0;
        margin: 0;
        background: rgba(255,255,255,0.1);
    }
    100% {
        width: 250%;
        height: 250%;
        margin: -125%;
        background: rgba(255,255,255,0.4);
    }
}

.material-grid section:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 999px;
    cursor: pointer;
}

.material-grid section:active:before {
    animation: materialResponse 0.4s ease;
    z-index: 2;
}

.material-green { background: #4CAF50; }
.material-amber { background: #FFC107; }
.material-blue { background: #2196F3; }
.material-red { background: #F44336; }


.material-icon {
    width: 70px;
    height: 70px;
    margin: 55px;
    position: relative;
}

.material-icon span,
.material-icon {
    transition: all 500ms ease;
}

.material-icon span {
    background-color: #fff;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.hamburger span {
    height: 10px;
    -webkit-transform: translateY(29px);
}

.hamburger .second {
    -webkit-transform: translateY(0);
}

.hamburger .third{
    -webkit-transform: translateY(60px);
}